.about {
    margin-top: 40px;
  &__body {
    font-family: roboto;
    font-size: 18px;
    margin-bottom: 36px;
  }
  &__btn {
    padding: 15px 30px;
    border: 2px solid #1D78BC;
    border-radius: 10px;
    font-family: Inter;
    font-size: 16px;
    color: #1D78BC;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.6;;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__header {
    font-family: Roboto;
    font-size: 56px;
    margin-bottom: 60px;
  }
  &__icon {
    margin-left: 10px;
  }
  &__img {
    max-width: 500px;
    width: 100%;
  }
  &__wrapper {
    max-width: 565px;
    width: 100%;
  }
}